snippet tag
	<$1>
		$0
	</$1>
snippet tagi
	<$1>$0</$1>
snippet tags
	<$1$0 />
snippet html
	<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Title</title>
	</head>
	<body>
	</body>
	</html>
